{% extends 'default/index.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Homepage</h1>
    {{ loginStatus }}
    {{ dump(accounts) }}
    {% for account in accounts %}
        {{ dump(account) }}
    {% endfor %}
{% endblock %}